body {
	font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

/*-----------------HEADER-----------------*/
#masthead{
	background-image: url("../images/header_bg.png");
	background-size: 100%; 
}
.top-message {
	background-image: url("../images/header_topbg.png");
	background-size: 100%; 
	background-repeat: no-repeat;
	height: 83px;
}
.wrap-top-message {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
}
.wrap-top-message p {
	margin: 0;
	font-size: 12px;
}
.site-branding {
	margin-bottom: 42px !important;
	padding: 0;
}
.chan-title {
	width: 70%;
	float: left;
}
a.custom-logo-link {
	margin-left: 47%;
}
.chan-contact {
	width: 22%;
	float: right;
}
ul#top-menu,
#top-menu a {
	text-align: center;
}
#top-menu li {
	width: 151px;
}
#top-menu a {
	font-size: 12px;
	color: #5E4C44;
	font-style: italic;
}

/*-----------------CONTENT-----------------*/
.panel-image {
	background-size: 100%;
	height: 100%;
}
.panel-image:before {
	background: none;
}
#primary {
	background-image: url("../images/top_bg_body.png");
	background-size: 100%; 
}
header.entry-header h2 {
	display: none;
}
.site-branding .wrap {
	width: 100%;
}
#content .wrap,
.panel-content .wrap {
	max-width: 100%;
	padding: 0px
}
.page:not(.home) #content {
	padding: 0;
}
h1.entry-title {
	display: none;
}
header.entry-header {
	max-width: 1000px;
	margin: 0 auto !important;
}

/*Top Page*/
.points-content:after,
.social-content:after,
.about-box:after,
.flower-back:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.chanmo-wrap {
	max-width: 1000px;
	margin: 0 auto;
}
.point-box:last-child {
	margin: 0;
}
.point-box:nth-child(2) {
	margin-top: 60px;
}
.point-box p {
	text-align: center;
}
.entry-content a, .entry-content a:hover,
.entry-content a img, .widget a img {
	box-shadow: none;
}
.point-btn {
	text-align: center;
	width: 445px;
	margin: 0 auto;
}
.social-media {
	background-image: url(../images/top_social_bg.png);
	background-size: 100%;
}
.social,
.news-box {
	max-width: 1000px;
	margin: 0 auto;
}
.social-content {
	padding: 50px 0;
}
.social-main {
	float: left;
	width: 47%;
	margin-right: 6%;
}
.social-main:last-child {
	margin: 0;
}
.social-box {
	background: #FFF;
	padding: 5px;
	border: 1px dashed #ffc0cb;
	box-shadow: 0px 0px 0px 5px #fff;
	height: 550px;
}
.social-header {
	text-align: center;
	width: 201px;
	margin: 0 auto;
	padding-bottom: 15px;
}
.news-box-header {
	width: 200px;
	margin: 0 auto;
}
.chanmo-normal.nail-art img {
	max-width: none;
	width: 105%;
	margin-left: -3%;
}
.flower-nail .news-box,
.chanmo-wrap .points {
	padding: 50px 0;
}
.flower-nail {
	background-image: url(../images/top_news_bg.png);
	background-size: 100%;
	height: 508px;
}
.flower-nail .news-box p {
	margin-top: 50px;
	text-align: center;
}
.panel-content .entry-header {
	margin: 0;
}

/*About Page*/
.about-body {
	max-width: 1000px;
	margin: 0 auto;
}
.about-content {
	padding: 0 50px;
}
.about-content h1 {
	color: #4D4D4D;
	background-color: #f7c9cb;
	text-align: center;
	width: 706px;
	margin: 0 auto;
	margin-bottom: 40px;
	font-size: 29px;
}
.about-head-image {
	width: 600px;
	margin: 0 auto;
}
.about-content p {
	margin-top: 35px;
	text-align: center;
}
.about-box-content {
	padding: 40px;
	position: relative;
}
.aboutbox-image1 {
	float: left;
	width: 49%;
	margin-right: 5%;
}
.aboutbox-detail1 {
	float: right;
	width: 45%;
}
.aboutbox-detail1 p {
	margin-top: 31%;
}
.aboutbox-image2 {
	float: right;
	width: 57%;
}
.aboutbox-detail2 {
	float: left;
	width: 40%;
	margin-top: 10%;
	height: 160px;
}
.aboutbox-detail2 p {
	float: right;
}
.aboutbox-image2 {
	position: relative;
}
.aboutbox-image2 img {
	position: absolute;
	margin-top: -26%;
}
.page-id-16 .chanmo-normal {
	background-image: url(../images/about_contentbg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: 88%;
}
.page-id-16 .chanmo-normal:last-child {
	background: none;
}
.flower-left {
	float: left;
}
.flower-right {
	float: right;
}
.flower-left, .flower-right {
	width: 33%;
}

/*Menu Page*/
.menu-header {
	text-align: center;
	position: relative;
}
.menu-header:before {
	content: url(../images/dots-color2.png);
	display: inline;
	vertical-align: middle;
	position: absolute;
	/* float: left; */
	left: 0;
	top: 11%;
}
 .menu-header:after {
	content: url(../images/dots-color2.png);
	display: inline;
	vertical-align: middle;
	position: absolute;
	/* float: left; */
	right: 0;
	top: 11%;
 }
.menu img {
	display: inline;
	width: 216px;
}
.menu-list {
	text-align: left;
	width: 310px;
	margin: 3% auto;
}
.menu-list ul {
	list-style: none;
}
.menu-list ul li {
	line-height: 35px;
}
.menu-list ul li span {
	float: right;
}
img.alignnone.size-full.wp-image-108 {
	width: 128px;
}
.page-id-18 .flower-back,
.page-id-22 .flower-back,
.page-id-20 .flower-back {
	margin-top: -14%;
}

/*Q^A Page*/
.qa-content {
	width: 575px;
	margin: 0 auto;
}
.ques:after,
.ans:after {
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
.ques-head,
.ans-head {
	float: left;
	width: 16%;
	margin-right: 4%;
}
.ques-part,
.ans-part {
	float: right;
	width: 80%;
}
.ques-head img,
.ans-head img {
	float: right;
}
.ans-part {
	color: #EA7D7C;
}
.qa {
	margin: 35px 0;
}
.ques-part p:after {
	content: "";
	border: 1px solid #848484;
	display: block;
	width: 240px;
	margin: 30px auto;
}
.ans-head img {
	width: 60px;
}

/*Access Page*/
.access-content {
	width: 700px;
	margin: 0 auto;
}
.access h1 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 30px;
}
.access-heading {
	width: 445px;
	margin: 0 auto;
}
.access-detail {
	margin-top: 35px;
}
.access-detail h2 {
	text-align: center;
	font-size: 22px;
}
.access-box ul {
	list-style: none;
}
.access-box ul li {
	text-align: center;
	margin: 9px 0;
	padding: 4px 0;
}
.access-box ul li:first-child, .access-box ul li:nth-child(3) {
	background-color: #F6C2D7;
}
.access-box ul li:nth-child(2), .access-box ul li:last-child {
	background-color: #FBE5EE;
}
.access-contact {
	text-align: center;
	width: 400px;
	margin: 40px auto;
}
.map-brown {
	height: 430px;
	background-color: rgba(35,24,21,0.5);
}

/*Contact Page*/
.contact-reminder {
	width: 600px;
	margin: 60px auto;
	text-align: center;
}
.contact-reminder p {
	line-height: 30px;
}
.chanmo-radio {
	text-align: center;
}
.page-id-24 .chanmo-normal {
	background-image: url(../images/contact_bg_bot.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.contact-main-content {
	width: 590px;
	margin: 0 auto;
	padding: 20px 0;
}
.contact-main-content table tr td:first-child {
	vertical-align: top;
}
.contact-main-content table tr td:first-child label {
	background-color: #F3AAAF;
	padding: 11px;
	color: #fff;
	margin:0;
}
.contact-main-content table tr td:last-child {
/*	padding: 0;*/
}
.contact-main-content table tr {
	border: none;
}
.contact-main-content table tr td input,
.contact-main-content table tr td textarea {
	border: none;
	border-radius: 0;
}
.contact-main-content table tr:last-child td:first-child label {
	height: 261px;
}
.contact-main-content table tr:last-child th label span {
	display: block;
}
.contact-main-content p {
	text-align: center;
}
.contact-main-content p input[type="submit"] {
	background-color: #87c5be;
}
.contact-bg-bot {
	background: none !important;
}
.contact-bg-bot .flower-back {
	margin-top: -21%;
}
#wpcf7-f127-p24-o1 > form > div.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
	text-align: center;
}


/*-----------------FOOTER-----------------*/
.foot-contact {
	width: 340px;
	margin: 0 auto;
}
.point-box {
	width: 32%;
	float: left;
	margin-right: 2%;
}
#pages-2 h2 {
	display: none;
}
.widget ul {
	text-align: center;
}
.widget ul li {
	border: none;
	display: inline-block;
}
.widget ul li:after {
	content: "|";
	margin: 0 14px;
}
.widget ul li:last-child:after {
	content: "";
	margin: 0;
}
.site-footer .widget-column.footer-widget-1 {
	width: 100%;
}
.site-footer {
	border: none;
}
.site-info {
	float: none;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	text-align: center;
}
.foot-info {
	background-color: #C7E6DE;
}
.site-info a,
.site-info a:hover {
	text-decoration: none;
	border: none;
}
.chanmo-sched {
	text-align: center;
	font-size: 16px;
	color: #5E4C44;
	line-height: 30px;
	margin-top: 35px;
}
.chanmo-sched ul {
	list-style: none;
}